*{
    margin: 0px;
    padding: 0px;
    border: 0px;
}

:root{
    --blue: #0d4683;
    --gold: #c7943f;

}

body {
    font-family: Arial, sans-serif;
    background-image: url('../images/icons.jpg');
    background-size: contain;    
}



img{
    border-radius: 50%;
    position:relative;
    height: 8vw;
    margin-top: 10px; 
    margin-left: 2px; 
}

.details{
    background-color: transparent;
    padding-top: 0px;
    font-size: 30px;
   width: 40vw;
    flex-direction: column;
    backdrop-filter: blur(5px);
}
.name{
    font-size: 20px;
    display: flex;
    gap: 10px;
    
}
.email{
    font-size: 20px;
    margin-left: 2px;
}
.location{
    font-size: 20px;
    margin-left: 2px;
}
.recieved_transactions{
    background-color: #0d4683;
    height: 250px;
    width: 100%;
    opacity: 90%;
    overflow: hidden;
    overflow-y: scroll;   
}
.sent_transactions {
    background-color: var(--gold);
    height: 250px; 
    width: 100%;
    opacity: 90%;
    margin-top: 30px;
    overflow: hidden; 
    overflow-y: scroll; 
}

table{
 
    width: 100%;
   
}
th{
    
    position: sticky;
    top: 0;
    background-color: inherit;
    z-index: 2;
}

th, td {
    border: 1px solid black; /* Add borders to each cell */
    padding: 8px; /* Add padding for better appearance */
    text-align: left; /* Optionally align text to the left */
}

.text{
    color: white;
}