*{
    margin: 0px;
    padding: 0px;
    border: 0px;
}

:root{
    --blue: #0d4683;
    --gold: #c7943f;

}

body {
    font-family: Arial, sans-serif;
    background-size: contain;
    padding: 0;
    display: flex;
    height: auto;
}

/*-------navingation bar-------------*/
nav {
    background-color: var(--blue);
    color: white;
    padding: 10px;
    width: 100%;
    height: 80px;
    position: absolute;
}

img{
    position: absolute;
    width: 5vw;
}

ul {
    list-style-type: none;
    margin: 0;
    margin-top: 30px;
    font-size: 22px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    
}

li {
    display: inline;
    margin-right: 20px;
}

li a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}


/*----------frame-----------*/
.frm{
    margin-top: 100px;
    width: 100vw;
    height: 100%;
    display: flex;
    background-image: url('../images/icons.jpg');
    background-size: contain;
    position: absolute;
}

.dashFrame{
    margin-left: 0px;
    width: 100%;
    height: 99%;
    visibility: visible;
    position: absolute;
}

.accountFrame{
    margin-left: 0px;
    width: 100%;
    height: 99%;
    visibility: hidden;
    position: absolute;
}

.sendFrame{
    margin-left: 0px;
    width: 100%;
    height: 99%;
    visibility: hidden;
    position: absolute;
}

.inventoryFrame{
    margin-left: 0px;
    width: 100%;
    height: 99%;
    visibility: hidden;
    position: absolute;
}
