*{
    margin: 0;
    padding: 0;
    border: 0;
    color: white;
}

:root{
    --blue: #0d4683;
    --gold: #c7943f;

}

body {
    font-family: 'Plex', -apple-system, Arial, Sans-Serif;
    background-image: url('../images/icons.jpg');
    background-size: contain;
    height: 100vh;
    
}

.back{
    width: 100%;
    height: 100%;
    background-color: transparent;
    backdrop-filter: blur(3px);
}

.txt{
    color: black;
    position: absolute;
    margin: 20px;
    font-weight: bold;
    font-size: 20px;
}

.txt1{
    font-weight: bold;
    color: black;
}

container{
    width: 100%;
    margin-top: 50px;
    position: absolute;
    display: flex;
    justify-content: space-between;
}

.recieved_item{
    margin: 10px;
    padding: 10px;
    background-color: var(--blue);
    border-radius: 20px;
    width: 50vw;
    height: 200px;
}

.sent_item{
    margin: 10px;
    padding: 10px;
    background-color: var(--gold);
    border-radius: 20px;
    width: 50vw;
    height: 200px;
}

.rec_img{
    width: 40px;
}

table{
    margin-left: 0px;
    margin-top: 0px;
    width: 100%;
}

.contain{
    width: 100%;
    height: auto;
    margin-top: 20vh;
    position: absolute;
    top: 40%;
    display: flex;
    justify-content: center;
}

.pending{
    height: 500px;
    width: 90%;
    background-color: var(--blue);
    overflow: hidden;
    overflow-y: scroll;  
}

th{
    
    position: sticky;
    top: 0;
    z-index: 100;
}

.loader {
    width: 50px;
    aspect-ratio: 1;
    display: grid;
    position: absolute;
    top: 50%;
    left: 50%;
  }
  .loader::before,
  .loader::after {    
    content:"";
    grid-area: 1/1;
    --c:no-repeat radial-gradient(farthest-side,#c7943f 92%,#0000);
    background: 
      var(--c) 50%  0, 
      var(--c) 50%  100%, 
      var(--c) 100% 50%, 
      var(--c) 0    50%;
    background-size: 12px 12px;
    animation: l12 1s infinite;
  }
  .loader::before {
    margin: 4px;
    filter: hue-rotate(180deg) brightness(0.6); /* Adjust brightness to 80% */
    background-size: 8px 8px;
    animation-timing-function: linear;
}

  
  @keyframes l12 { 
    100%{transform: rotate(.5turn)}
  }

td{
padding-left: 90px;
}

td button{
    background-color: var(--gold);
    width: 100px;
    height: 30px;
    margin: 10px 0 0 5px;
}

.hd{
    background-color: var(--gold);
    font-size: 20px;
    height: 50px;
}