*{
    margin: 0px;
    padding: 0px;
    border: 0px;
}

:root{
    --blue: #0d4683;
    --gold: #c7943f;

}

body {
    font-family: Arial, sans-serif;
    background-image: url('../images/icons.jpg');
    background-size: contain;    
}

nav{
    width: 100%;
    height: 100px;
    font-size: 50PX;
    background-color: var(--blue);
    display: flex;
    justify-content: center;
    align-items: center;
}