*{
    margin: 0px;
    padding: 0px;
}

:root{
    --blue: #0d4683;
    --gold: #c7943f;

}

body {
    font-family: Arial, sans-serif;
    background-image: url('../images/icons.jpg');
    background-size: contain;
    padding: 0;
    height: 100vh;
}

nav{
    width: 100%;
    height: 100px;
    background-color: var(--blue);
    display: flex;
    align-items: center;
    justify-content: center;
}

.search{
    border: none;
    width: 500px;
    height: 30px;
}

.searchBtn{
    border: none;
    width: 100px;
    height: 30px;
    background-color: var(--gold);
    cursor: pointer;
}

.searchBtn:hover{
    width: 120px;
    height: 40px;
}

.tb{
    width: 100%;
    position: absolute;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

table{
    width: 100%;
    background-color: transparent;
    backdrop-filter: blur(20px);
    
}

table,tr,th{
    padding: 5px;

}

